{% extends "base.html" %}
{% block content %}
    <h1>Contact Us</h1>
	<br/><br/>
	 <div class="container-fluid" style="background-color:black;opacity:0.8;width:1200px;color:orange">
	<h2 style="color:white;font-family:bookman old style">Hello Reader,</h2><br/>
	<p style="font-family:cairo;font-size:25px">You can contact us on our Email address for any query or 
     complaint. Our Email id is<a href="https://gmail.com"> dgdcpd@gmail.com</a>. Also you can follow us on 
	<a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">LinkedIn</a> or <a href="#">Twitter</a>.<br/><br/> Please give your Feedback 
	by filling up the Feedback form from the navigation bar or from <a href="{% url 'review' %}">HERE.</a></p>
	<p style="font-family:cairo;font-size:25px">Happy Reading !!!</p>
	<br/>
	<h2 style="color:white;font-family:bookman old style">Team PUSTAKAM</h2>
	</div>
	<br/>
{% endblock %}